:root {
  --primary: #563ec9;
  --secondary: #00c1fb;
  --dark: #032054;
  --light: #d8eaf7;
  --success: #00ce88;
  --warning: #e9ab48;
  --danger: #c21606;
  --white: #ffffff;
  --primary-rgb: 86, 62, 201;
  --secondary-rgb: 0, 193, 251;
  --success-rgb: 0, 206, 136;
  --info-rgb: 86, 62, 201;
  --warning-rgb: 233, 171, 72;
  --danger-rgb: 194, 22, 6;
  --light-rgb: 216, 234, 247;
  --dark-rgb: 3, 32, 84;
}

body {
  --bs-primary: var(--primary);
  --bs-secondary: var(--secondary);
  --bs-success: var(--success);
  --bs-info: var(--primary);
  --bs-warning: var(--warning);
  --bs-danger: var(--danger);
  --bs-light: var(--light);
  --bs-dark: var(--dark);
  --bs-primary-rgb: var(--primary-rgb);
  --bs-secondary-rgb: var(--secondary-rgb);
  --bs-success-rgb: var(--success-rgb);
  --bs-info-rgb: var(--info-rgb);
  --bs-warning-rgb: var(--warning-rgb);
  --bs-danger-rgb: var(--danger-rgb);
  --bs-light-rgb: var(--light-rgb);
  --bs-dark-rgb: var(--dark-rgb);
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: #d1d1d1;
}

a.badge {
  text-decoration: none;
}

#page-loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  z-index: 10000;
  opacity: 100%;
}

#header {
  height: 40px;
  width: 100%;
}

#main {
  width: 100%;
  min-height: 100vh;
  background-color: var(--white);
}

@media only screen and (min-width: 768px) {
  #main {
    max-width: 40%;
  }
}

#main iframe {
  /* height: 100vh; */
  position: fixed;
  top: 50px;
  bottom: 0;
  right: 0;
  left: 0;
  overflow-y: scroll;
  width: 100%;
}
