body {
  font-family: "Inter", sans-serif;
  color: #032054;
  min-height: 100vh;
}

header {
    width: 100%;
    margin-bottom: 40px;
}

header .brand-logo{
    height: 40px;
    width: auto;
}

main {
    min-height: 100vh;
    display: block;
}